*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.header-container{
    background-color: rgb(23, 141, 252);
    border: 2px solid black;
}
.header-box{
    padding-left: 1rem;
}
.header-box h2{
    font-size: 4rem;
    font-family: Helvetica;
    color: white;
}