*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.header-container{
    height: 7rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.header__conbox{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box{
    padding-left: 1rem;
}
.header-box h2{
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    color: black;
}
/*Menu*/
.header-menu{
    margin-right: 3rem;
}
.header-menu ul{
    display: flex;
    list-style: none;
    font-size: 2rem;
} 
.header-menu ul>li{
    margin: 0 1rem;
    font-family: Verdana;
}

.img-container{
    width: 5rem;
    height: 5rem;
}

.img{
    width: 100%;
    object-fit: cover;
}




/*Main*/
.main-container{
    width: 100%;
    padding: 5rem 0;
    border: 2px solid black;
    background-color: #1e266d;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-box{
    width: 80%;
    text-align: center;
    
}
.main-box p{
    font-size: 4rem;
    text-align: center;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

/*footer*/
.footer-container{
    height: 10rem;
    width: 100%;
    background-color: #1e266d;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-container a{
    color: white;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 3rem;
    background-color: blueviolet;
    padding: 1.6rem 2rem;
    border-radius: 3rem;

}

.footer-container a:hover{
    transition-duration: 1s;
    background-color: white;
    color: blueviolet;
}
